.container{
    color: #333;
    text-align: left;
    margin: 5px;
    padding: 10px;
    background-color: #ffffff;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
}
.views{
    font-size: 12px;
}
.title{
    color: rgb(0, 0, 0);
    text-align: left;
    font-weight: 600;
    font-size: 16px;
}
.pic img{
    border-radius: 10px;
}
.channel{
    font-size: 14px;
}
